.folder-card {
  background-color: #7675750e;
  width: max-content;
  padding: 15px;
  border-radius: 10px;
  margin: 8px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  width: 100px;
  max-height: 100px;
  cursor: pointer;

  img {
    width: 35px;
    height: 35px;
    filter: invert(30%);
  }

  &:hover {
    background-color: #76757525;
  }

  .long-name {
    font-size: 13px;
    text-align: center;
  }
}
