.history {
  width: 100%;
  overflow: hidden;

  .histori-download {
    overflow: auto;
    height: 78%;
    padding-bottom: 400px;

    .no-history {
      text-align: center;
      padding-top: 10px;
    }

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar {
      background-color: transparent;
    }
    &::-webkit-scrollbar:vertical {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #828282;
      border-radius: 20px;
      border: 0;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }
  }

  .history-card {
    width: 90%;
    margin: 1% auto;
    padding: 2% 3%;
    border-bottom: 1px solid #0e0e0e;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    gap: 10px;

    label {
      text-align: center;
    }
    .name-download {
      font-size: 13px;
    }

    .success {
      background-color: transparent;
      border: 0;
      color: #fefefe;
      width: 30px;
      height: 30px;
      margin: auto;

      .delete_music {
        background-color: transparent;
        width: 15px;
        height: 15px;
        filter: invert(100%);
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .downloading {
      background: url("../../../public/loadAnim.svg");
      width: 30px;
      height: 30px;
      border: 0;
      color: #fefefe;
      background-position: center;
      background-size: cover;
      margin: auto;
      display: flex;
      align-items: center;
      img {
        background-color: transparent;
        width: 100%;
        text-align: center;
        height: 15px;
        filter: invert(100%);
      }
    }
  }
}
