.reproductor {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  // background-color: #09090958;
  background-color: #42424228;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: aparecer 1s forwards;

  @keyframes aparecer {
    to {
      bottom: 0;
    }
  }

  .replayMusic {
    background-color: transparent;
    border: 0;
  }

  .quitMusic {
    img {
      filter: invert(80%);
    }
    background-color: transparent;
    color: #fefefe;
    border: 0;
    font-family: var(--font);
    font-weight: 900;
    font-size: 15px;
    cursor: pointer;
  }

  .imgMusic {
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    position: relative;
    top: -20px;
  }
  .loadIMG {
    background-color: #0e0e0e;
    padding: 5px;
    border-radius: 50%;
    position: relative;
    top: -20px;
  }
  .imgMusic_online {
    background-position: center;
    background-size: cover;
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    top: -20px;
    overflow: hidden;

    .downloadMusic {
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to top, #000, #00000000);
      width: 100%;
      height: 100%;
      transform: translateY(100%);
      transition: all 0.3s;

      img {
        filter: invert(100%);
        cursor: pointer;
      }
    }
    &:hover {
      .downloadMusic {
        transform: translateY(0);
      }
    }
  }
}

.timeMusic {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 300px;
  height: 3px;
  background: #48484899;
  border-radius: 20px;
  background-image: linear-gradient(#fff, #fefefe);
  background-size: 0% 100%;
  background-repeat: no-repeat;

  &:hover {
    cursor: pointer;
    &::-webkit-slider-thumb {
      width: 0px;
      height: 0px;
      background-color: #fff;
    }
  }

  &::-webkit-slider-thumb {
    border-radius: 20px;
    -webkit-appearance: none;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    // background: #fff;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background 0.3s ease-in-out;
    transition: all 0.2s;
  }

  // &::-webkit-slider-thumb:hover {
  //   background: #e3e3e3;
  //   width: 10px;
  //   height: 10px;
  // }
}

.volumentControl {
  display: flex;
  // flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 10px;

  .volumenIcon {
    filter: invert(100%);

    &:hover {
      ~ .volumenControl {
        width: 80px;
      }
    }
  }

  .volumen {
    -webkit-appearance: none;
    width: 80px;
    height: 3px;
    background: #48484899;
    border-radius: 20px;
    background-image: linear-gradient(#fff, #fefefe);
    background-size: 30% 100%;
    background-repeat: no-repeat;

    &:hover {
      width: 80px;
      &::-webkit-slider-thumb {
        width: 7px;
        height: 7px;
        background-color: #fff;
      }
    }

    &::-webkit-slider-thumb {
      border-radius: 20px;
      -webkit-appearance: none;
      height: 4px;
      width: 4px;
      border-radius: 50%;
      // background: #fff;
      background-color: transparent;
      cursor: pointer;
      box-shadow: 0 0 2px 0 #555;
      transition: background 0.3s ease-in-out;
      transition: all 0.2s;
    }

    &::-webkit-slider-thumb:hover {
      background: #e3e3e3;
      width: 10px;
      height: 10px;
    }
  }
}
